.loader{
  display: block;
  position: relative;
  height: 25px;
  width: 200px;
  background: #ccc;
  overflow: hidden;
}
.loader:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #0300a7;
  animation: 30s prog ease-in infinite;
}
@keyframes prog {
  to  {   width: 100%;}
}

.loader-container{
  display: flex;
  justify-content: center;
}
